<div class="panel panel-primary round">
  <div class="panel-heading top_round new-panel">
    <h2><%= @user.first_name %>&acute;s page</h2>
  </div>
  <div class="panel-body">
    <div >
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-4">
                <%= image_tag @user.picture_url, width: "150", heigth: "150", alt: @user.full_name, class: "img-thumbnail" %>
              </div>
              <div class="col-md-8">
                <div class="col-md-4">
                  <p class="text-muted">Name: </p>
                  <p class="text-muted">Lives in:</p>
                  <p class="text-muted">Rating:</p>
                </div>
                <div class="col-md-8">
                  <p><%= @user.full_name %></p>
                  <p><%= @user.location %></p>
                  <p><%= rating_stars(rating(@user)) %></p>
                </div>
              </div>
            </div>
          </div>
          <p>&nbsp;</p>
          <p></p>

          <div class="row">
            <div class="col-md-4">
              <%= link_to "<b>#{@user.stories.count}</b><br><small>STORIES</small>".html_safe, user_url(disp: "stories"), class: "btn btn-sm btn-primary round full_width" %>
            </div>
            <div class="col-md-4">
              <%= link_to "<b>#{@user.followers.count}</b><br><small>FOLLOWERS</small>".html_safe, user_url(disp: "followers"), class: "btn btn-sm btn-primary round full_width" %>
            </div>
            <div class="col-md-4">
              <%= link_to "<b>#{@user.followings.count}</b><br><small>FOLLOWING</small>".html_safe, user_url(disp: "following"), class: "btn btn-sm btn-primary round full_width" %>
            </div>
          </div>
          <% if params["disp"] == "followers" %>
            <p>
              <h3>Followers</h3>
            </p>
            <div class="story-feed-sm">
            <% @user.followers.each do |follower| %>
              <%= user_profile(follower,@user) %>
            <% end %>
          </div>
          <% elsif params["disp"] == "following" %>
            <p>
              <h3>Following</h3>
            </p>
            <div class="story-feed-sm">
            <% @user.followings.each do |following| %>
              <%= user_profile(following,@user) %>
            <% end %>
          </div>
          <% else %>
            <p>
              <h3>Stories</h3>
            </p>
            <div class="story-feed-sm">
            <% @user.stories.reverse.each do |story| %>
              <%= story_tile(story,@user) %>
            <% end %>
          </div>
          <% end %>
        </div>
        <div class="col-md-6">
          <p>
            <h3>Storyfeed</h3>
          </p>
          <div class="story-feed-lg">
          <% @user.followings.each do |user| %>
            <% user.stories.each do |story| %>
              <%= story_tile(story,@user) %>
            <% end %>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
