<div class="page-header">
  <h1>Editing Story #<%= @story.id %></h1>
</div>

<%= form_tag(story_url(@story), method: 'patch', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :name, @story.name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :description, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :description, @story.description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :address1, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :address1, @story.address1, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :address2, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :address2, @story.address2, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :postcode, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :postcode, @story.postcode, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :city, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :city, @story.city, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :state, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :state, @story.state, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :country, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :country, @story.country, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :latitude, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :latitude, @story.latitude, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :longitute, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :longitute, @story.longitute, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :picture_url, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :picture_url, @story.picture_url, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :audio_url, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :audio_url, @story.audio_url, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :rating, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :rating, @story.rating, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :user_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :user_id, @story.user_id, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update Story", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
