<div class="panel panel-primary round">
  <div class="panel-heading top_round">
    <h2>Edit - <%= @story.name %></h2>
  </div>
  <div class="panel-body">
    <div class="container">
      <div class="row">

<%= form_tag(story_url(@story), method: 'patch', class: 'form-horizontal', multipart: true) do %>
  <div class="form-group">
    <%= label_tag :name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :name, @story.name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :description, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :description, @story.description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :address1, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :address1, @story.address1, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :address2, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :address2, @story.address2, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :postcode, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :postcode, @story.postcode, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :city, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :city, @story.city, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :state, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :state, @story.state, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :country, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :country, @story.country, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :image, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= file_field_tag :image %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :audio, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= file_field_tag :audio %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-2 control-label">
      <strong>Categories</strong>
    </div>
    <div class="col-md-8">
      <% Category.all.each do |category| %>
        <% if @story.categories.include?category %>
          <%= check_box_tag(category.id,"yes",true) %>
          <%= label_tag(category.id, category.name.capitalize) %>
          &nbsp;
        <% else %>
          <%= check_box_tag(category.id,"yes") %>
          <%= label_tag(category.id, category.name.capitalize) %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6">
      <%= hidden_field_tag :user_id, @story.user_id, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update Story", class: 'btn btn-primary round' %>
    </div>
  </div>
<% end %>
    </div>
  </div>
</div>
