<div class="panel panel-primary round">
  <div class="panel-heading top_round">
    <h1>Stories</h1>
  </div>
  <div class="panel-body">
  <ul class="nav nav-tabs">
    <li <% if params["cat"]=="all" %>
    <%= "class='active'".html_safe %>
    <% end %>><%= link_to "All", stories_url(cat: "all") %></li>
    <% Category.all.each do |category| %>
    <li <% if params["cat"]==category.name.downcase %>
    <%= "class='active'".html_safe %>
    <% end %>><%= link_to category.name, stories_url(cat: category.name.downcase) %></li>
    <% end %>
  </ul>
  <% @stories.each do |story| %>
    <div class="col-md-6">
      <%= story_tile(story,current_user) %>
    </div>
  <% end %>
</div>

