<div class="page-header">
  <h1>Stories</h1>
</div>

<p><%= link_to 'Add a New Story', new_story_url, class: 'btn btn-primary' %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>Postcode</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Latitude</th>
      <th>Longitute</th>
      <th>Picture url</th>
      <th>Audio url</th>
      <th>Rating</th>
      <th>User</th>
      <th>Categories</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.name %></td>
        <td><%= story.description %></td>
        <td><%= story.address1 %></td>
        <td><%= story.address2 %></td>
        <td><%= story.postcode %></td>
        <td><%= story.city %></td>
        <td><%= story.state %></td>
        <td><%= story.country %></td>
        <td><%= story.latitude %></td>
        <td><%= story.longitute %></td>
        <td><%= image_tag story.picture_url, width: "100" %></td>
        <td><%= story.audio_url %></td>
        <td><%= story.rating %></td>
        <td><%= story.user.full_name %></td>
        <td>
          <% story.categories.each do |category| %>
          <p><%= category.name %></p>
          <% end %>
        </td>
        <td><%= link_to '<i class="fa fa-search-plus"></i>'.html_safe, story_url(story), class: 'btn btn-primary' %></td>
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_story_url(story), class: 'btn btn-warning' %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, story_url(story), method: 'delete', data: { confirm: "Do you really want to delete this story?" }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

