<div class="page-header">
  <h1>Story #<%= @story.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @story.name %></dd>

  <dt>Description</dt>
  <dd><%= @story.description %></dd>

  <dt>Address1</dt>
  <dd><%= @story.address1 %></dd>

  <dt>Address2</dt>
  <dd><%= @story.address2 %></dd>

  <dt>Postcode</dt>
  <dd><%= @story.postcode %></dd>

  <dt>City</dt>
  <dd><%= @story.city %></dd>

  <dt>State</dt>
  <dd><%= @story.state %></dd>

  <dt>Country</dt>
  <dd><%= @story.country %></dd>

  <dt>Latitude</dt>
  <dd><%= @story.latitude %></dd>

  <dt>Longitute</dt>
  <dd><%= @story.longitute %></dd>

  <dt>Picture url</dt>
  <dd><%= @story.picture_url %></dd>

  <dt>Audio url</dt>
  <dd><%= @story.audio_url %></dd>

  <dt>Rating</dt>
  <dd><%= @story.rating %></dd>

  <dt>User</dt>
  <dd><%= @story.user_id %></dd>

</dl>
