<div class="panel panel-primary round">
  <div class="panel-heading top_round">
    <h2><%= @story.name %></h2>
  </div>
  <div class="panel-body">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5 story-list-title">
              <%= image_tag @story.image, width: 250, class: "img-thumbnail" %>
            </div>
            <div class="col-md-7 story-audio">
              <p><h4>Listen to the story</h4></p>
              <p>
                <audio controls="controls">
                  <source src="<%= @story.audio_url %>" />
                </audio>
              </p>
              <p></p>
              <p>Rate this story</p>
              <p>
                <% (1..5).each do |i| %>
                  <%= link_to " <span class='glyphicon glyphicon-star-empty'></span>".html_safe, story_url(@story.id,v: i), method: :patch %>
                <% end %>
              </p>
            </div>
          </div>
          <div class="row story-list-title"></div>
          <div class="row">
            <div class="col-md-4 story-list-title">Rating</div>
            <div class="col-md-8 story-list-content">
              <%= rating_stars(@story.rating) %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 story-list-title">Description</div>
            <div class="col-md-8 story-list-content"><%= @story.description %></div>
          </div>
          <div class="row">
            <div class="col-md-4 story-list-title">Author</div>
            <div class="col-md-8 story-list-content">
              <%= link_to @story.user.full_name, user_url(@story.user.id) %>
              <span class="badge"><%= @story.user.stories.count %> stories</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 story-list-title">Address</div>
            <div class="col-md-8 story-list-content">
              <%= @story.address1 %><br>
              <% unless @story.address2.empty? %>
              <%= @story.address2 %><br>
              <% end %>
              <%= @story.city %>,
              <%= @story.state %> <%= @story.postcode %><br>
              <%= @story.country %><br>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 story-list-title">Categories</div>
            <div class="col-md-8 story-list-content">
              <% @story.categories.each do |category| %>
                <%= link_to category.name, stories_url(cat: category.name.downcase), type: "button", class: "btn btn-xs btn-primary round" %>
              <% end %>
            </div>
          </div>
          <% if @story.user.id == current_user.id %>
            <div class="row story-list-content">
              <div class="col-md-6 story-list-content">
                <%= link_to "Edit this story", edit_story_url(@story.id), type: "button", class: "btn btn-xs btn-warning round" %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-md-6">
          <h4>Check the story location</h4>
          <div style="width:450px;height:450px" id="map-canvas"></div>
        </div>
      </div>
    </div>
  </div>
</div>
